<h2>Information about Video FunHouse</h2>
<p>
Want more information about our project?  You are in the right place.
</p>

<h3>Technology</h3>
<p>
	We made Video FunHouse by taking <a href="http://ffmpeg.org/">FFmpeg</a> and making it even more awesome by <a href="/ffmpeg/ffmpeg.js" target="_blank">compiling it into javascript</a> (warning - huge text file).  In case you haven't heard of it, FFmpeg is a complete, cross-platform solution to record, convert and stream audio and video.
</p>
<p>
	Let's face it, no one wants to install and run a boring comand line application to convert their videos when they can do it in their browser. We used <a href="https://github.com/kripken/emscripten/wiki">Emscripten</a> to compile FFmpeg into javascript.
</p>
<p>
	For reading gifs from the webcam, we are using the awesome <a href="https://github.com/hdragomir/facetogif/">facetogif</a> program.
</p>
<p>
	Sample image and videos are taken from <a href="http://www.bigbuckbunny.org/">Big Buck Bunny</a>, under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a> license.
</p>
<p>
	To serve the Video FunHouse video converter we used node.js with the express framework. We used mongodb severed on mongohq to store our data.  Our application is being served by an Ubuntu instance provided by Joyent for Node Knockout 2013. Thanks Joyent!
</p>

<h3>Team</h3>
<p>
	<b>Aaron Marasco</b>
	Aaron (<a href="http://twitter.com/aaronm67">@aaronm67</a>) is a developer for <a href="http://nerdery.com/">The Nerdery</a>, where he works on an array of exciting innovations, most often of the ASP.NET variety. Aaron is a three time Node Knockout competitor.
</p>
<p>
	<b>Brian Grinstead</b>
	Brian (<a href="https://twitter.com/bgrins">@bgrins</a>) works on <a href="https://twitter.com/FirefoxDevTools">Firefox developer tools</a> and many other <a href="https://github.com/bgrins/">open source things</a>.  He is also a three time Node Knockout competitor.
</p>
<p>
	<b>Nicole Grinstead</b>
	Nicole (<a href="https://twitter.com/nicolegrinstead">@nicolegrinstead</a>) is a developer for CARFAX. Her specialty is Java and server side business logic, but she likes to dabble in javascript. This is Nicole's second year competing in Node Knockout.
</p>
<p>
	<b>Fun fact:</b> Everyone on the team has run a marathon.
</p>