This is our awesome splash page.

Check out the <a href="app/">app</a>

<%- msg %>

<video></video>
<button id="record">O</button>
<button id="stop">[]</button>

<button id="save">Save test</button>

<script type="text/javascript" src="video/video2.js"></script>
<script>
    require(['pages/index']);
</script>
