<img src="/user/<%- video.id %>" />

<div class="video">
	<button data-id='<%= video.id%>' data-url='/upVote/'><span class="glyphicon glyphicon-thumbs-up"></span>&nbspUpvote this</button>
	<button data-id='<%= video.id%>' data-url='/downVote/'><span class="glyphicon glyphicon-thumbs-down"></span>&nbspThis video stinks</button>
</div>